@page
@model FuelManagement.Pages.Issuers.create_issuerModel
@{
}


<div class="container">
	<div class="row">
		<form method="post" asp-page-handler="Save">
			<div class="col-md-6 mx-auto">
				@if (!string.IsNullOrEmpty(Model.ErrorMessage))
				{
					<span class="alert alert-danger">@Model.ErrorMessage</span>
				}

				<input type="hidden" asp-for="issuer.id" />

				<div class="col-md-12 mb-3">
					<label >Issuer name</label>
					<input type="text" class="form-control" asp-for="issuer.issuer_name"/>
					<span asp-validation-for="issuer.issuer_name" class="text-danger"></span>
				</div>
				<div class="col-md-12 mb-3">
					<label>Issuer name</label>
					<input type="text" class="form-control" asp-for="issuer.contact" />
					<span asp-validation-for="issuer.contact" class="text-danger"></span>
				</div>
				<div class="col-md-12">
					<a asp-page="./Index" class="btn btn-secondary">Close</a>
					<button type="submit" class="btn btn-primary">Save</button>
				</div>
			</div>
		</form>
	</div>
</div>